@page
@model Sarpinos.Pages.Admin.UsersModel
@{
    ViewData["Title"] = "Users";
}

@using Microsoft.AspNetCore.Identity
@using Sarpinos.Models

@inject UserManager<ApplicationUser> UserManager

<div class="container d-flex justify-content-md-center">
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr class="bg-dark text-light">
                <td>Name</td>
                <td>Username</td>
                <td>Address</td>
                <td>Update</td>
                <td>Delete</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td>@user.Name</td>
                    <td>@user.UserName</td>
                    <td>@user.Address</td>
                    <td><a asp-page-handler="UpdateUser" asp-route-userId="@user.Id"><i class="fas fa-pen-square fa-2x text-success"></i></a></td>
                    <td><a asp-page-handler="DeleteUser" asp-route-userId="@user.Id"><i class="fas fa-trash-alt fa-2x text-danger"></i></a></td>
                </tr>
            }
        </tbody>
    </table>
</div>